.header{
  background-image: url("/assets/img/header__background.png");
    background-size: cover;
    background-position: center;


  &__container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
  &__link {
    color: #a1a1a1;
    font-size: 20px;
    text-decoration: none;

  }
}


