.header{
  background-image: url("/assets/img/header__background_whatercolor.png");
    background-size: cover;
    background-position: bottom;


  &__container {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 25px 0;
    position: relative;
  }
  &__link {
    color: #a1a1a1;
    font-size: 20px;
    text-decoration: none;

  }
  &__logo {
    width:140px;

    &::before{
      content: "";
      display: block;
      height:100px;
      width:155px;
      background-image: url("/assets/img/header__logo_part1.png");
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 5px;
    }

    &::after{
      content: "";
      display: block;
      height:180px;
      width:175px;
      background-image: url("/assets/img/header__logo_part2.png");
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 100px;
      left: 300px;
    }
  }
}


