.header-mobile{
    display:none;

    &_active{
        & .header-mobile__menu-icon {
            margin-left: 200px;
            z-index: 3;
        }
        & .header-mobile__menu {
            display: block;
        }
    }

    &__container {
        display: flex;
        padding: 10px 0;
        align-items: center;
}
    &__menu-icon{
        position: relative;
        &::before{
            content: "";
            display: block;
            position: absolute;
            background-image: url("/assets/img/header-mobile__menu-icon.png");
            background-size: cover;
            background-position: center;
            height: 55px;
            width: 80px;
            top: -6px;
            right: -16px;
            opacity: 0.8;
        }

        &-content{
            border:1px solid #a1a1a1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 42px;
            height: 42px;
            margin-left: 10px;
            position: relative;
            padding: 0 5px;
        }
   }

    &__icon-line {
        width: 100%;
        height: 5px;
        background: white;
        border-radius: 5px;

        &:nth-child(2){
            margin: 5px 0;
        }
    }

    &__menu{
        position: fixed;
        display: none;
        left:0;
        top:0;
        bottom:0;
        background: #fff;
        width: 300px;
        z-index: 2;

        &::after{
            content: "";
            display: block;
            position: absolute;
            background-image: url("/assets/img/header__logo_full.png");
            background-size: cover;
            background-position: center;
            width: 120px;
            height: 180px;
            bottom:0;
            right: 0;
        }
     }

    &__menu-content{
        display: flex;
        flex-direction: column;
        padding: 10px 20px 0 20px;
        width:200px;
    }

    &__link {
        color: #a1a1a1;
        font-size: 16px;
        text-decoration: none;
        border:1px solid #a1a1a1;
        padding: 10px;
        margin-bottom: 10px;
        text-align: center;
        position: relative;

        &::before{
            content: "";
            display: block;
            height:44px;
            width:165px;
            background-image: url("/assets/img/header-mobile__menu_backround.png");
            background-size: cover;
            background-position: center;
            position: absolute;
            top: 2px;
            right: -10px;
            z-index: -1;
            opacity: 0.8;
        }
    }
    &__logo {
        height:75px;
        width:110px;
        background-image: url("/assets/img/header__logo_part1.png");
        background-size: cover;
        background-position: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 5px;
    }
}

@media (max-width: 690px) {
    .header-mobile {
        display: block;

        &__menu{

        }
    }


}
