.separator {
  padding-bottom: 300px;

  &__container{
    display: flex;
    justify-content: center;
    position: relative;
  }
}


@media (max-width: 950px) {
  .separator {
    padding-bottom: 260px;
  }
}

@media (max-width: 690px) {
  .separator {
    display: none;
  }
}