.separator {
  padding-bottom: 245px;

  &__container{
    display: flex;
    justify-content: center;
    position: relative;
  }
}


@media (max-width: 950px) {
  .separator {
    padding-bottom: 215px;
  }
}