.about-me {
    &__container {
       padding: 20px 0;

        &_clearfix::after {
            content: "";
            display: table;
            clear: both;
        }

    }

    &__avatar {
        background-image: url("/assets/img/about-me__avatar.jpg");
        min-width: 250px;
        height: 250px;
        background-size: cover;
        background-position: center;
        margin-right: 30px;
        float:left;
        shape-outside: circle(50%);

    }

    &__text {
        //max-width: 50%;

        &_eng {
            text-align: right;
        }
    }

    &__text-line {
        margin-top: 20px;
    }
}