.about-me {
    &__container {
        padding: 20px 0 30px 0;
        position: relative;


        &_active {
            &:hover {
                .about-me__avatar {
                    //background-image: url("/assets/img/about-me__avatar_active.jpg");
                    //min-width: 300px;
                    //height: 300px;
                    margin-right: 30px;
                    left:0;
                    transform: translateX(0%);

                }

                .about-me__text {
                    display:block;
                    opacity: 1;


                }
            }

        }
    }

    &__avatar {
        background-image: url("/assets/img/about-me__avatar.jpg");
        width: 200px;
        height: 200px;
        background-size: cover;
        background-position: center;
        left:50%;
        transform: translateX(-50%);
        transition: all 0.5s ease-in-out;
        position: absolute;



    }

    &__text {
        display: block;
        margin-left: 250px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out 0.5s;



    }

    &__text-line:not(:first-child) {
        margin-top: 20px;
    }
}



//.about-me__container:hover .animation {
//    animation-name: move-left;
//    animation-duration: 3s;
//    animation-fill-mode: forwards;
//}
//
//@keyframes move-left {
//    50% {
//        transform: translateX(-5%);
//
//
//
//    }
//    100% {
//        transform: translateX(-5%);
//
//
//    }
//}
