.about-me {
    &__container {
        min-height: 280px;
        padding: 10px 0 20px 0;
        position: relative;
        display: flex;

        &_active {

            .about-me__avatar {
                background-image: url("/assets/img/about-me__avatar_active.jpg");
                left: 0;
                transform: translate(0%, -50%);
                transition: all 0.5s ease-in-out;
            }

            .about-me__text {
                opacity: 1;
                transition: all 0.5s ease-in-out 0.3s;
            }

        }
    }

    &__avatar {
        background-image: url("/assets/img/about-me__avatar.jpg");
        width: 200px;
        height: 200px;
        background-size: cover;
        background-position: center;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        transition: all 0.5s ease-in-out 0.3s;
        position: absolute;
    }

    &__text {
        display: block;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        margin: auto;
        padding-left: 150px;
    }

    &__text-line:not(:first-child) {
        margin-top: 20px;
    }
}

@media (max-width: 1120px) {
    .about-me {
        &__text {
            padding-left: 220px;
        }
    }
}


@media (max-width: 500px) {
    .about-me {
        &__container {
            &_active {

                .about-me__avatar {
                    width: 150px;
                    height: 150px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    top: 75px;
                    transition: all 0.5s ease-in-out 0.3s;
                }

                .about-me__text {
                    opacity: 1;
                    transition: all 0.5s ease-in-out 0.3s;
                }

            }
        }

        &__text {
            padding-left: 0;
            padding-top: 150px;
        }


    }
}
