.portfolio {
    background: #efefef;
    padding-bottom: 20px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    &__content {
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
    }

    &__item {
        position: relative;
        margin: 10px;
        width: 30%;
        text-decoration: none;
        color: black;

        &::before {
            content: "";
            display: block;
            margin-top: 100%;
        }

        &::after {
            content: "";
            position: absolute;
            display: block;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-size: cover;
            background-position: center;
            opacity: 0.6;
        }

        &:hover::after{
            opacity: 1;
            cursor:pointer;

        }

        &:hover .portfolio__label {
            text-shadow: 1px 1px 3px white,
            -1px -1px 3px white,
            3px 3px 6px white,
            -3px -3px 6px white,
            4px 4px 10px white,
            -4px -4px 10px white,
            10px 10px 15px white,
            -10px -10px 15px white;
        }
        &_love-story {

            &::after {
                background-image: url("/assets/img/portfolio__lovestory_background.jpg");
            }

        }

        &_portraits {
            &::after {
                background-image: url("/assets/img/portfolio__portraits_background.jpg");
            }
        }

        &_weddings {
            &::after {
                background-image: url("/assets/img/portfolio__weddings_background.jpg");
            }
        }

        &_maternity {
            &::after {
                background-image: url("/assets/img/portfolio__maternity_background.jpg");
            }
        }

        &_families {
            &::after {
                background-image: url("/assets/img/portfolio__familiess_background.jpg");
            }
        }

        &_feeling-lucky {
            &::after {
                background: white;
            }

            & .portfolio__label_eng {
                font-size: 30px;
            }
        }
    }

    &__label {
        text-align: center;

        &_eng {
            font-family: Reey, sans-serif;
            line-height: 95px;
            font-size: 35px;
        }

        &_rus {
            font-size: 25px;
        }

    }
}


@media (max-width: 950px) {

    .portfolio {
        &__label {
            &_eng {
                line-height: 55px;
                font-size: 25px;
            }

            &_rus {
                font-size: 20px;
            }
        }

        &__item {
            &_feeling-lucky {
                & .portfolio__label_eng {
                    font-size: 22px;
                }
            }
        }
    }
}


@media (max-width: 690px) {

    .portfolio {
        &__item {
            width: 45%;

            &_portraits {
                order: 1;
            }

            &_weddings {
                order: 2;
            }

            &_maternity {
                order: 1;
            }

            &_families {
                order: 2;
            }

            &_feeling-lucky {
                order: 2;

            }
        }
    }
}


@media (max-width: 450px) {

    .portfolio {
        &__label {
            &_eng {
                line-height: 55px;
                font-size: 20px;
            }

            &_rus {
                font-size: 15px;
            }
        }

        &__item {
            width: 43%;

            &_feeling-lucky {
                & .portfolio__label_eng {
                    font-size: 15px;
                }
            }
        }
    }
}