.price{
    background: #efefef;
    padding-bottom: 20px;

    &__container{
        padding: 40px 0 60px 0;
        text-align: center;
    }

    &__text-line {
        margin-top: 20px;
        font-size: 18px;
    }
}

