@font-face {
  font-family: 'CaviarDreams';
  src: url('/assets/fonts/CaviarDreams.woff2') format('woff2'),
  url('/assets/fonts/CaviarDreams.woff') format('woff');
  font-weight: 400;
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: 'Reey';
  src: url('/assets/fonts/reey-regular-webfont.woff2') format('woff2'),
  url('/assets/fonts/reey-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-display: block;
  font-style: normal;
}