.header{
  background-image: url("/assets/img/header__background_whatercolor.png");
  background-size: cover;
  background-position: bottom;
  //position: fixed;
  //z-index: 2;
  //width:100%;

  &_active{
    & .header__logo{
      display: none;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 25px 0;
  }

  &__link {
    color: #a1a1a1;
    font-size: 20px;
    text-decoration: none;
    cursor:pointer;

    &:hover{
      color: #ffffff;

    }
  }


  &__logo {
    width:155px;
    position: relative;

    &::before{
      content: "";
      display: block;
      height:100px;
      width:155px;
      background-image: url("/assets/img/header__logo_part1.png");
      background-size: cover;
      background-position: center;
      position: absolute;
      top: -10px;
    }

    &::after{
      content: "";
      display: block;
      height:180px;
      width:175px;
      background-image: url("/assets/img/header__logo_part2.png");
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 85px;
      right: 0;
    }
  }
}


@media (max-width: 950px) {
  .header{
    &__link {
      font-size: 18px;
    }
    &__logo {
      width:135px;

      &::before{
        height:90px;
        width:135px;
        top: -10px;
      }

      &::after{
        height:160px;
        width:155px;
        top: 75px;
        right: 0;
      }
    }
  }
}


@media (max-width: 690px) {
  .header{


    &__container {
      display:none;
    }
  }
}