.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: white;
    opacity: 0.7;
    z-index: 2;
    display: none;

}


.header-mobile {
    display: none;
    position: fixed;
    z-index: 100;
    width: 100%;
    background: white;
    box-shadow: 0 0 15px rgba(192, 192, 192, 1);

    &_active {
        & .menu-button {
            left: 200px;
            z-index: 4;
        }

        & .header-mobile__menu {
            display: block;
            left: 0;
            transition: left 0.3s ease-in-out;
        }

        & .overlay {
            display: block;
        }
    }

    &__container {
        display: flex;
        padding: 10px 0;
        align-items: center;
    }

    &__menu {
        position: fixed;
        transition: left 0.3s ease-in-out;
        left: -300px;
        top: 0;
        bottom: 0;
        background: #fff;
        width: 300px;
        z-index: 3;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

        &::after {
            content: "";
            display: block;
            position: absolute;
            background-image: url("/assets/img/header__logo_full.png");
            background-size: cover;
            background-position: center;

            width: 120px;
            height: 180px;
            bottom: 10px;
            right: 10px;
        }
    }

    &__menu-content {
        display: flex;
        flex-direction: column;
        padding: 10px 20px 0 20px;
        width: 200px;
    }

    &__link {
        color: #a1a1a1;
        font-size: 16px;
        text-decoration: none;
        border: 1px solid #a1a1a1;
        padding: 10px;
        margin-bottom: 10px;
        text-align: center;
        position: relative;

        &:hover {
            text-shadow: 1px 1px 3px white,
            -1px -1px 3px white,
            3px 3px 6px white,
            -3px -3px 6px white,
            4px 4px 10px white,
            -4px -4px 10px white,
            10px 10px 10px white,
            -10px -10px 10px white;
            transition-duration: 0.3s;
        }

        &::before {
            content: "";
            display: block;
            height: 44px;
            width: 165px;
            background-image: url("/assets/img/header-mobile__menu_backround.png");
            background-size: cover;
            background-position: center;
            position: absolute;
            top: 2px;
            right: -10px;
            z-index: -1;
            opacity: 0.8;
        }
    }

    &__logo {
        height: 75px;
        width: 110px;
        background-image: url("/assets/img/header__logo_part1.png");
        background-size: cover;
        background-position: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 5px;
    }
}

@media (max-width: 690px) {
    .header-mobile {
        display: block;

        &__menu {

        }
    }


}
